einops==0.8.0
fastai==2.7.14
fastcore==1.5.29
h5py==3.10.0
matplotlib==3.8.4
mygrad==2.2.0
numpy==1.26.4
packaging==24.2
Pillow==11.1.0
pytorch_fid==0.3.0
scipy
setuptools==75.1.0
torch>=2.0.0
torchvision>=0.14.0
tqdm
ema_pytorch
accelerate
tsai